{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--3-offset">
        <h3>About</h3>
        <p>Praylink is a service that allows people to text in a prayer request.</p>
        <p>To get started, text "PRAY" to (979) xxx-xxxx</p>
        <p>Now you are able to use all of the features that comes with Praylink.</p>
        <p>To send in a prayer request, text "pray [prayer here]" for example: "pray that my mom feels better"</p>
        <p>To update a prayer, text "update [prayer number] [update]" In order to find the prayer that you want to update, text 'update' and it will respond with the last 3 prayers you sent in that does not have an update. Example: "update 12 my mom feels better now"</p>
        <p>This is just the surface of the features you can use, text 'commands' in order to get a full list of what you can do with the bot.</p>
    </div>
</div>

{% endblock %}