{% extends "base.html" %}

{% block title %}Member Login{% endblock %}

{% block content %}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-offset">
        <h3>Login</h3>
        
        {% from "_formhelpers.html" import render_field %}

        {% if error %}
            <div class="error text-danger">{{ error }}</div>
        {% endif %}
        
        <form method="POST" action="{{ url_for('login')}}" role="form">
            
            {{ form.hidden_tag() }}
            
            {{ render_field(form.phone_number, class="mdl-textfield__input") }}
            {{ render_field(form.password, class="mdl-textfield__input") }}

            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Signup</button>
            
        </form>
    </div>
</div>

{% endblock %}