<div class="masonry-grid-item mdl-typography--text-center">
    <div class="mdl-card mdl-shadow--2dp mdl-cell--middle" style="margin: 0 auto;">
    <div class="prayer-content">
        <h5>{{ prayer.content }}</h5>
    </div>
    <p class="prayer-sent">Sent: {{ prayer.publish_date.strftime('%Y-%m-%d') }}</p>
    <p class="prayed-for-{{ prayer.id }}">Prayed for: {{ prayer.prayer_count }} {% if prayer.prayer_count == 1 %}time{% else %}times{% endif %}
    </p>
    <button prayerID="{{ prayer.id }}" class="prayed-for-button mdl-shadow--2dp mdl-button mdl-js-button mdl-js-ripple-effect">
        Prayed for
    </button>
    {% if prayer.update %}
    <div style="margin-top: 16px;">
        <b>Update:</b> <p>{{ prayer.update }}</p>
    </div>
    {% endif %}
    </div>
</div>